<div id="top_bar">
   <div class="logo">
    <a id="custom_logo" href="/"> <%= image_tag("logos/Rubynor_div.logoer-06.png") %></a>
  </div>

  <!-- Begin main nav -->
  <div id="menu_wrapper">

      <div class="menu-main-menu-container">
        <ul id="main_menu" class="nav">
  			<li>
        <a href="http://127.0.0.1:9393">Hjem</a>
        </li>
        <li>
        <a href="/">Hva gjør vi</a>
			  </li>
				<li>
        <a href="http://127.0.0.1:9393/kontakt">Kontakt</a>
			  </li>
      </ul>
    </div>
  </div>
  <!-- End main nav -->

</div>

<br class="clear"/>
