<div id="wrapper_top_bar">
  <div id="top_bar">
   <div class="logo">
    <a id="custom_logo" href="/"> <%= image_tag("logos/Rubynor_div.logoer-06.png") %></a>
  </div>

  <!-- Begin main nav -->
  <div id="menu_wrapper">

      <div class="menu-main-menu-container">
        <ul id="main_menu" class="nav">
  			<li>
        <a href="http://www.rubynor.com">Hjem</a>
        </li>
        <li>
        <a href="/">Hva gjør vi</a>
			  </li>
				<li>
        <a href="http://www.rubynor.com/kontakt">Kontakt</a>
			  </li>
      </ul>
    </div>
  </div>
  <!-- End main nav -->

  </div>
</div>

<br class="clear"/>

<div id="title_menu_wrapper">
	<div class="tm_underwrapper">
    <div id="title_menu">
      <h1>Hva gjør vi</h1>
    </div>
	</div>
</div>
