<div id="top_bar">
   <div class="logo">
    <a id="custom_logo" href="/"><img src="images/logos/Rubynor_div.logoer-06.png" alt=""/></a>
  </div>

  <!-- Begin main nav -->
  <div id="menu_wrapper">

      <div class="menu-main-menu-container">
        <ul id="main_menu" class="nav">
  			<li>
        <a href="/">Hjem</a>
        </li>
        <li>
        <a href="/projects">Prosjekter</a>
			  </li>
				<li>
        <a href="/kontakt">Kontakt</a>
			  </li>
      </ul>
    </div>
  </div>
  <!-- End main nav -->

</div>

<br class="clear"/>
